.category-section {
  background: #000;
  padding-block:20px;
  text-align: center;
}

.category-header {
  margin-bottom: 40px;
}

.category-subtitle {
  color: #fff;
  font-size: 34px;
  letter-spacing: 1px;
}

.category-subtitle, h2{
    margin-block: 60px;
}

.category-title {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  font-family: "Georgia", serif;
}

.category-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.right-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.large-card img {
  height: 500px;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .category-grid {
    display: grid;
    grid-template-columns: 2.4fr 1fr; 
  }

  .right-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .large-card img {
    height: 100%;
    min-height: 780px; 
    object-fit: cover;
  }

  .category-card img {
    height: 380px;
    object-fit: cover;
  }
}


.category-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: brightness(60%);
  transition: 0.4s ease;
}

.category-card {
  position: relative;
}

.category-card:hover img {
  filter: brightness(100%);

}

.category-card:hover .cat-text {
  display: none;
}

.cat-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 32px;
  font-family: "Georgia", serif;
}

@media (min-width: 1024px) {

  .category-title {
    font-size: 120px;
  }

  .category-card img {
    height: 380px;
  }

  .cat-text {
    font-size: 42px;
  }
}
