/* -------------------------
    HERO SECTION
------------------------- */
.hero {
  position: relative;
  min-height: 100vh;
  background: url("src/assets/home.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-inline: 20px;
}

.hero-content h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 42px;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.shop-btn {
  padding: 0.8rem 1.6rem;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.shop-btn:hover {
  background: white;
  color: black;
}
