.checkout-page {
  background: #f6f7f5;
  padding: 40px 0px;
}

.checkout-title {
  max-width: 1100px;
  margin: 0 auto 32px;
  font-size: 34px;
  font-weight: 600;
}

.checkout-layout {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 32px;
}

.checkout-card {
  background: #fff;
  border-radius: 12px;
  padding: 28px;
  margin-bottom: 28px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.checkout-card .title {
  font-size: 32px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.title{
    margin-top: 0;
}

.checkout-card input {
  width: 95%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
  font-size: 14px;
}

.checkout-card input:focus {
  outline: none;
  border-color: #000;
}

.radio {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
  background: #fff;
}

.radio input[type="radio"] {
  width: 18px;
  height: 18px;
  margin: 0;
  accent-color: #000;
  cursor: pointer;
}

.radio span {
  flex: 1;
}

.radio:hover {
  border-color: #000;
}

.radio input[type="radio"]:checked + span {
  font-weight: 600;
}

.radio input[type="radio"]:checked {
  accent-color: #000;
}

.checkout-right {
  position: sticky;
  top: 120px;
}

.summary-item {
  display: grid;
  grid-template-columns: 60px 1fr auto;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.summary-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.summary-item p {
  font-size: 14px;
  margin: 0;
}

.summary-item span {
  font-size: 12px;
  color: #777;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  padding-top: 16px;
  border-top: 1px solid #eee;
}

.place-order {
  margin-top: 24px;
  width: 100%;
  padding: 16px;
  font-size: 15px;
  font-weight: 600;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.place-order:hover {
  background: #000;
}

.secure-text {
  text-align: center;
  font-size: 13px;
  color: #666;
  margin-top: 12px;
}

@media (max-width: 900px) {
  .checkout-layout {
    grid-template-columns: 1fr;
  }

  .checkout-right {
    position: static;
  }
}
