.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  z-index: 3000;
}

.cart-panel {
  width: 420px;
  max-width: 90%;
  height: 100%;
  background: #000;
  color: white;
  padding: 25px;
  position: relative;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.promo-code{
  margin-block: 20px;
  color: #b15a00;
}

.cart-total{
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.secure{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shipping{
  font-size: 20px;
}

.cart-panel hr {
  border: none;
  border-top: 1px solid #777676;
  margin: 16px 0;
}

.cart-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 32px;
  position: absolute;
  right: 25px;
  top: 10px;
  cursor: pointer;
}

.cart-item {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.cart-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.cart-info {
  flex: 1;
}

.item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.qty-box {
  border: 1px solid white;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.qty-box button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.checkout-btn {
  background: #b15a00;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.view-cart-btn {
  border: 1px solid #b15a00;
  padding: 15px;
  color: #b15a00;
  font-size: 18px;
  margin-top: 10px;
  background: none;
  cursor: pointer;
}

.secure-checkout {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  opacity: 0.7;
  color: white;
  font-weight: 700;
}

@media (max-width: 480px) {
  .cart-panel {
    width: 100%;
  }
  .cart-img {
    width: 70px;
    height: 70px;
  }
}
